.ListStyle {
  list-style-type: decimal;
  font-weight: 700;
  font-size: 24px;
  color: red;
}

.Photo {
  background: url("./photo_2021-02-22_21-05-07\ copy.jpg");
  background-repeat: repeat;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 200px;

  line-height: 24px;
  font-size: 29px;

  text-align: center;
  text-transform: uppercase;
  font-family: "Steelfish Rg", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
}
.RemoveBtn {
  margin-left: 10px;
  background-color: white;
  border: 1px solid rgb(92, 88, 88);
  border-radius: 5px;
}
input {
  margin: 50px;
  width: 150px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
}
